/* Style sheet for Food Inspection Final Project */
html {
  background-color: whitesmoke;
}

header {
  background-color: #808080;
  text-align: center;
}

#links {
  text-align: center;
}

body {
  background-color : #ffffff;
  font-family : "Trebuchet MS", Segoe UI, Tahoma, Helvetica, sans-serif	
}

a {
  text-decoration: none;
}

h1 {
  font-size:26px;
}

h3 {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  margin-bottom: 0.3em;
}
p {
  font-size:14px;
}

table {
  background-color:#efefef;
  border-style:solid;
  border-width:1px;
  border-color:#999999;
}

th {
  background-color:#cccccc;
  font-weight:bold;
  padding:5px;
}

td {
  padding:5px;
}

td.code {
  font-family:courier, courier-new, serif;
  font-weight:bold;
}
  
.wrapper {
  min-height: 100%;
  display: flex;
  /* width: 70%; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: #BFBFBF;
  /* border: 1px; */
  /* margin: 25px; */
}
      
.wrapper div {
  border-radius: 15px;
}

.filter{
  background-color: #808080;
  text-align: center;
}

.OutputContainer {
  display: flex; /* or inline-flex */
  flex-direction: column;
  justify-content: flex-start;
  background-color: #E6E6E6;
}

